@import "../../theme/theme-variables";

.sidebar-link-active {
  text-decoration: underline;
  & > small {
    font-weight: bold;
  }
}

.section-link {
  color: $dark !important;
  margin-bottom: 0.3rem;
  line-height: 1;
  font-style: italic;
}

.sidemenu-container {
  // margin: 0.5rem 0;
  padding-left: 0.5rem;
}
