@import "../../theme/theme-variables";

.sidebar-link-active {
  text-decoration: underline;
  & > small {
    font-weight: bold;
  }
}

.section-link {
  color: $dark-red !important;
  margin-bottom: 0.3rem;
  line-height: 1;
  font-style: italic;
}
