@import "theme-variables";
/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
body {
  color: $dark;
}

.jumbotron {
  margin-top: 15px;
  padding: 2rem;
  background-color: #f8f9fa;
}

body .ck.ck-content {
  border: 1px solid darkgrey;
  height: calc(100vh - 170px);
  margin-bottom: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.hover {
  transition: opacity 0.1s ease-out;
  &:hover {
    opacity: 0.7;
  }
}

.edit-form {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.edit-form-textarea {
  width: 100%;
  min-width: 400px;
}

@media (min-width: 1200px) {
  .project {
    /* stylelint-disable-next-line declaration-no-important */
    width: calc(25% - 2rem) !important;
  }
}

.card {
  border-radius: 0;
  box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  & > a {
    padding: 3px;
    & img {
      box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    &:hover {
      box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
  }
  .accordion > .card {
    box-shadow: none !important;
  }
  .card-body .card-text {
    color: $dark !important;
  }
}

.display-5 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 2em;
  margin-bottom: 0.5rem;
}

.display-6 {
  // font-weight: 300;
  line-height: 1.1;
  font-size: 1.2rem;
}

.display-7 {
  // font-weight: 300;
  line-height: 1.1;
  font-size: 1em;
}

hr {
  border-top-color: rgba(192, 57, 43, 0.4);
}

.page-title {
  &,
  &:hover,
  & button,
  & button:hover {
    color: $dark-red;
  }
}

body nav.navbar {
  background: white;
}
