<mdb-navbar
  #navbar
  SideClass="navbar navbar-expand-lg navbar-light white justify-content-between fixed-top"
  [containerInside]="false"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">
      DIGIPOP
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <ul class="navbar-nav mr-auto">
      <ng-container *ngFor="let menuItem of scriptMenu">
        <li class="nav-item">
          <a
            class="nav-link parent-item"
            [routerLink]="menuItem.link"
            routerLinkActive="active"
          >
            <i class="fas fa-graduation-cap"></i>
            <span translate> {{ menuItem.title }}</span>
          </a>
          <ng-container *ngIf="menuItem.subItems.length">
            <ul class="navbar-nav mr-auto d-lg-none d-xl-none subitems">
              <ng-container *ngFor="let subitem of menuItem.subItems">
                <li class="nav-item subitem">
                  <a
                    class="nav-link"
                    [routerLink]="subitem.link"
                    routerLinkActive="active"
                  >
                    <i class="fas fa-user-graduate"></i>
                    <span translate> {{ subitem.title }}</span>
                  </a>
                </li>
              </ng-container>
            </ul>
          </ng-container>
        </li>
      </ng-container>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/o-skripti"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="fas fa-question-circle"></i>
          <span translate> O Skripti</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
